header {
    border-bottom: black solid 3px;
    display: flex;
    height: 150px;
}

#add-item-button, #add-item-button-greyed {
    margin-left: auto;
    margin-right: 5%;
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
    margin-top: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

#add-item-button {
    background-image:url(assets/add.png);
}

#add-item-button-greyed {
    
    background-image:url(assets/add-disabled.png);
}

#add-item-button:hover {
    background-image:url(assets/add-hover.png);
}

h1 {
    font-size: 100px;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: auto;
}

footer {
    border-top: black solid 2px;
    margin-top: 25px;
    display: flex;
}

h6 {
    font-size: 20px;
    margin-top: 10px;
}

#author {
    margin-left: 5%;
    margin-right: auto;
}

#copyright {
    margin-right: 5%;
    margin-left: auto;
}


h3 {
    font-size: 60px;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: auto;
    order: 1;
    width: 70%;
}

.bookmark {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.bookmark-rating {
    font-size: 48px;
    margin-left: 2%;
    margin-right: auto;
    order: 5;
    color: goldenrod;
}

p {
    font-size: 24px;
    margin-left: 2%;
}

label {
    font-size: 24px;
    order: 8;
    margin-right: 2%;
}

input[type='checkbox'] {
    height: 24px;
    width: 24px;
    order: 7;
    margin-right: 10px;
    margin-left: auto;
}

#edit-item {
    order: 2;
    margin-left: auto;
    margin-right: 1%;
    background-image:url(assets/edit.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#edit-item:hover {
    background-image:url(assets/edit-hover.png);
}

#delete-item {
    order: 3;
    margin-right: 2%;
    background-image:url(assets/delete.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#delete-item:hover {
    background-image:url(assets/delete-hover.png);
}

.bookmark-desc {
    order: 4;
    width: 100%;
}

.visit-site {
    order: 6;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

button {
    font-size: 24px;
}

#edit-item, #delete-item {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


#add-item-form, #edit-item-form {
    display: flex;
    flex-wrap: wrap;
}

#newTitle {
    width: 100%;
    height: 50px;
    font-size: 48px;
}

#title-input {
    order: 0;
    width: 76%;
    display: flex;
    margin-top: 25px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: 1.5%;
}

#title-label {
    order: 0;
    margin-right: 20px;
    font-size: 50px;
}

#rate-input {
    order: 1;
    width: 18%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
}

#url-input {
    order: 2;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 4%;
    margin-right: auto;
}

#newURL {
    width: -webkit-calc(89.5% - 20px);
}

#newDesc {
    width: -webkit-calc(84% - 20px);
    min-height: 100px;
    text-align: left;
    resize: vertical;
}

#desc-input {
    order: 3;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: auto;
    display: flex;
}

#desc-input > label {
    order: 0;
}

#cancel-add, #cancel-edit {
    order: 4;
    margin-left: 76.5%;
}

#submit-item, #submit-edit {
    order: 5;
    margin-left: 20px;
}